.AddSuggestionModal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  box-shadow: darkgrey 3px 3px 2rem;
  max-width: 60rem;
  padding: 0 1rem 1rem 1rem;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-family: "Segoe UI", system-ui, serif;
}

.AddSuggestionModalHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.AddSuggestionModal-AddButtonDisabled {
  background-color: grey;
  cursor: default;
}

.AddSuggestionModal-AddButtonDisabled:hover {
  background-color: grey;
}

.AddSuggestionModal-CloseModalButton {
  font-size: 1rem;
  font-weight: bolder;
  background-color: darkcyan;
  cursor: pointer;
  margin: 0;
  padding: 0.1rem 0.3rem;
}

.App {
  text-align: center;
  background-color: white;
}

.App > * {
  font-family: "Hoefler Text", serif;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100vw;
}

.App-header > h1 {
  margin: 0.75rem 0 0 0;
  font-size: 40px;
}

.App-link {
  color: #61dafb;
}

.ExistingSuggestionsContainer {
  height: 8em;
}

.RandomPromptSuggestorButtons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.RandomPromptSuggestor {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 0.5rem;
  margin: 2rem;
  box-shadow: darkgrey 3px 3px 2rem;
  max-width: 30rem;
  padding: 0 1rem;
}

.RandomPromptSuggestorButtonsContainer > button {
  margin: 0.25rem 0.25rem;
}

.RandomPromptSuggestor > h1 {
  font-size: 3rem;
  color: darkcyan;
  margin: 1rem 1rem;
}

button {
  font-size: 1rem;
  padding: 0.3rem 0.5rem;
  border-radius: 0.5rem;
  border: none;
  background-color: black;
  color: white;
  margin: 0.5rem;
  cursor: pointer;
  transition-duration: 0.2s;
  font-family: "Segoe UI", system-ui, serif;
}

button:hover {
  background-color: darkcyan;
}

button:active {
  background-color: #07baba;
}

body {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}

.AboutUsCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 0.5rem;
  margin: 0rem 2rem 1rem 2rem;
  box-shadow: darkgrey 5px 5px 1rem;
  overflow: hidden;
}

.AboutUsCard > img {
  width: 50%;
  object-fit: cover;
}

.AboutUsInfoDiv {
  width: 50%;
  padding: 4rem;
}

.AboutUsInfoDiv > p {
  line-height: 1.85rem;
}

.App-header-tabs {
  margin: 0 0 0.7rem 0;
}

.App-header-tab {
  margin: 0 1rem;
}

.Active-tab {
  background-color: darkcyan;
}

.HomePage-subtitle {
  margin: 1rem 0;
}

.OpenAddSuggestionModalButton {
  font-size: 1.3rem;
  font-weight: bolder;
  background-color: darkcyan;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  margin: 0;
}

.PageCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.PerformerImage {
  width: 250px;
}

.Performer > * {
  max-width: 250px;
}

.PerformersCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.PerformersContainer {
  margin: 40px 2rem 0 2rem;
}

.Performer {
  margin: 0 2px;
}

.PromptsPage {
  height: 90vh;
  width: 100%;
}

.ContactPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

.ContactPage > h1 {
  color: darkcyan;
  margin-bottom: 70px;
}

.ContactPage > h2 {
  color: darkcyan;
  margin-top: 70px;
}

li {
  list-style-type: none;
}
